In [1]:
print("hello")

hello

In [4]:
def calc(radius):
    area = 3.14 * radius ** 2
    return area

a_area = calc(32)
print(a_area)

3215.36

In [ ]:
import turtle

t = turtle.Turtle()

t.shape("turtle")

In [8]:
def weeklyPay(rate, hour):
    if (hour >= 30):
        money = rate * 30 + 1.5 * rate * (hour-30)
    else:
        money = rate * hour
    return money

r = int(input("시급을 입력하시오 : "))
h = int(input("근무 시간을 입력하시오 : "))

print("주급은 : " + str(weeklyPay(rate = r, hour = h)) + "원 입니다.") # print 쓸 때 + 연산자를 사용할 수 있는 경우는 문자열의 타입이 같을 때만

주급은 : 195000원 입니다.

In [10]:
heights = [178.9, 173.5, 166.1 , 164.3, 176.4]
heights

[178.9, 173.5, 166.1, 164.3, 176.4]

In [13]:
print(list(range(0, 5, 2))
,list(range(2, 5))
,list(range(2, 6))
,list('python'))

[0, 2, 4] [2, 3, 4] [2, 3, 4, 5] ['p', 'y', 't', 'h', 'o', 'n']

In [14]:
num_list = [0, 1, 2] * 3

In [15]:
numbers = [10, 20, 30] + [40, 50 ,60] # 리스트에서의 + 연산자는 합치는 의미
numbers

[10, 20, 30, 40, 50, 60]

In [16]:
bts = ['V', 'J-Hope', 'RM', 'Jungkook', 'Jin', 'Jimin', 'Sugar']
'V' in bts

True

In [17]:
'GD' in bts

False

In [18]:
# list 안에 list 넣기
student_list = [['Kim', 178.9],['Park', 173.5], ['Lee',176.1]]
student_list

[['Kim', 178.9], ['Park', 173.5], ['Lee', 176.1]]

In [19]:
type(student_list)

list

In [20]:
n_list = [200, 700, 500, 300, 400]

In [23]:
len(n_list)

5

In [25]:
max(n_list)

700

In [26]:
min(n_list)

200

In [27]:
sum(n_list)

2100

In [28]:
sum(n_list) / len(n_list)

420.0

In [29]:
t_list = list((10,20,30))

In [30]:
t_list

[10, 20, 30]

In [31]:
t_list.append(40)

In [32]:
t_list

[10, 20, 30, 40]