## 2025.11.07 (금) 9주차 수업

In [38]:
phone_book = {} # 사전 변수 선언 및 초기화

In [39]:
# 사전에 키와 밸류값 넣기
phone_book["강감찬"] = "010-1234-4222"
phone_book["홍길동"] = "010-1234-5678" 
phone_book["이순신"] = "010-2133-1321"

In [40]:
print(phone_book)

{'강감찬': '010-1234-4222', '홍길동': '010-1234-5678', '이순신': '010-2133-1321'}

In [35]:
# 이렇게 하면 선언과 동시에 키와 밸류값 입력 가능
person_dict = {'Name' : '홍길동', 'Age' : 27 , 'Class' : '초급'}
print(person_dict['Name'])
print(person_dict['Age'])
print(person_dict['Class'])

홍길동
27
초급

In [26]:
print(phone_book['강감찬']) # list는 index로 값을 찾고 dict는 key로 value를 찾음

010-1234-4222

In [27]:
phone_book.keys()

dict_keys(['페이커', '홍길동', '강감찬', '이순신'])

In [31]:
phone_book.values()

dict_values(['010-1233-4124', '010-1234-5678', '010-1234-4222', '010-2133-1321'])

In [32]:
phone_book.items()

dict_items([('페이커', '010-1233-4124'), ('홍길동', '010-1234-5678'), ('강감찬', '010-1234-4222'), ('이순신', '010-2133-1321')])

In [33]:
for name, phone_num in phone_book.items():
    print(name, ':', phone_num)

페이커 : 010-1233-4124
홍길동 : 010-1234-5678
강감찬 : 010-1234-4222
이순신 : 010-2133-1321

In [43]:
number = {2, 1, 3} # set를 쓰면 신기하게도 오름차순으로 나옴

{1, 2, 3}

In [48]:
set([1,2,3,1,2])

{1, 2, 3}

In [49]:
set("abcdefg") # 문자열도 시퀀스형이라서 집합형으로 변환 가능

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

In [50]:
numbers = set() #비어있는 집합 생성

In [51]:
# list는 + 연산이 가능
n_list = [1,2] + [1,2,3]
print(f'n_list = {n_list}')

n_list = [1, 2, 1, 2, 3]

In [52]:
# set은 + 연산이 불가능함
n_set = {1,2} + {1,2,3}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [57]:
numbers = {1,2,3}
numbers.add(4)
numbers

{1, 2, 3, 4}

In [58]:
numbers.remove(4)
numbers

{1, 2, 3}

In [2]:
f = open('hello.txt', 'w') # 파일을 쓰기 모드로 열기
f.write('hello World!') # hello.txt 파일에 쓰기
f.close() # 파일 닫기

In [3]:
f = open('hello.txt', 'r')
s = f.read()
print(s)
f.close()

hello World!